header .img-responsive{
	position: absolute;
	padding-top: 8px;
	padding-left: 10px;
}
body header .navbar{
	margin-bottom: 0px;
}
header{
	background-color: #FFF;
}
.cabecalho{
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}
.texto{
    font-weight: bold;
    color: #FFF;
    text-indent: center;    
}
.cabecalhoprincipal{
	overflow-x: hidden;
	overflow-y: hidden;
}