h1{
    text-align: center;
}

form div + div {
    margin-top: 3em;
}
label {
    /*Ver se os labels estão alinhados */
    display: inline-block;
    width: 90px;
    text-align: justify;
}

@media(min-width: 760px){
main{
	margin-left: 320px;
}
.suc{
	text-align: center;
}
}