
/*Fim Cabeçalho*/
.carousel-inner .item img{
	max-width: none;
}
.item{
	height: 500px;
	overflow: hidden;
}
/*QuickView*/
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.btn{
	padding: 6px;
	border: none;
}
.btn-primary{
	background-color: #FFF;
}
.btn-primary:hover{
	background-color: #FF9933
}
a > img {
    margin-bottom: 0px;
}
#rodape{
    background-color: #333333;
    overflow: hidden;
    text-align: center;
    
}
.texto{
    font-weight: bold;
    color: #FFF;
    text-indent: center;    
}
#cp{
    line-height:10px;
}
.loirinhausaclasse {
	overflow: auto;
}

.loirinhausaclasse li {
	list-style-type: none;
	float: left;
}

.loirinhausaclasse li a i {
	
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 32px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
        
    
}
/*cab
<header class="cabecalho">
		<img class="img-responsive" id="logo" src="img/logo3.png" alt="">
		<img src="img/cabecalho4.png" alt="">
		<nav class="menu">
			<ul class="nav nav-pills nav-justified">
				<li><a href="index.html">Home</a></li>
				<li><a href="../Christian/index.html">Produtos</a></li>
				<li><a href="../Gabriel/quemsomos/index.gabriel.html">Quem somos</a></li>
				<li><a href="../Mirian/mirian.php">Localização</a></li>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>
	</header>