.carousel-inner .item img{
	max-width: none;
}
.item{
	height: auto;
    overflow: hidden;
}


/*QuickView*/
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.btn{
	padding: 6px;
	border: none;
}

.thumbnail .btn-primary{
    background-color: #FFF;
}
.thumbnail .btn-primary:hover{
    background-color: #FF9933
}
.texto{
    font-weight: bold;
    color: #FFF;
    text-indent: center;    
}
p{
    text-align: justify;
}
.thumbnail .btn{
    display: inline-block;
    padding: 5px 5px 10px 5px;
    border: none;
}
.button{
    appearance: none;
}