.carousel-inner .item img{
	max-width: none;
}
.item{
	height: 500px;
	overflow: hidden;
}
/*QuickView*/
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.btn{
	padding: 6px;
	border: none;
}
.btn-primary{
	background-color: #FFF;
}
.btn-primary:hover{
	background-color: #FF9933
}
a > img {
    margin-bottom: 0px;
}
#rodape{
    background-color: #333333;
    overflow: hidden;
    text-align: center;
    
}
.texto{
    font-weight: bold;
    color: #FFF;
    text-indent: center;    
}
#cp{
    line-height:10px;
}
