*{
    font-family: Arial;   
}
    
.principal{
    width: 10px;
    margin: auto;
} 

#titulopag{
    text-align: center;    
}

#mapa{
    text-align: center;
}
.texto{
    font-weight: bold;
    color:white;
    
      
}

