*{
    font-family: Arial;   
}

.loca{
	font-size: 40px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    
.principal{
    width: 10px;
    margin: auto;
} 

#titulopag{
    text-align: center;    
}

#mapa{
    text-align: center;
}
.texto{
    font-weight: bold;
    color:white;    
}

