h3,p{
    font-family: 'Ubuntu', sans-serif;
}

@media(min-width: 760px){
    .card{
        text-align: center;
        margin-right: 3px;
    }
    .principal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 12%;
    }
}

.card{
    text-align: center;
    margin-top: 7%;
    transition: 1s;
    transition-delay: 0.2s;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
}

.principal{
    margin-left: 12%;
}

.card:hover{
transform: scale(1.2);
}

