h3,p{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    text-align: center;
    margin-top: 15%;
    transition: 1s;
    transition-delay: 0.2s;
}


@media(max-width: 400px){
    .container{
        display: table;
        align-items: center;
        justify-content: space-between;  
    }
}

.card:hover{
transform: scale(1.3);
}

body{
    background: linear-gradient(to bottom, #FFF, #C0C0C0, #333333) fixed;
}

