.container{
		margin-top: 50px;
		display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #E6E6FA;
        border-radius: 50px;
}

.pr{
	font-size: 60px;
}